@import "/src/styles/common.scss";

.edit-create-product-form {
    @include FlexColumn(space-between, initial);
    min-height: 400px;
    padding: 20px;

    .form-control {
        margin: 10px 0px;
    }
    .error-message {
        color: red;
        font-weight: 600;
        font-size: 18px;
    }
}
